pyzmq
coveralls
codecov
stix == 1.2.0.6
git+https://github.com/MISP/PyMISP.git#egg=pymisp
requests-mock
pip
nose
jsonschema
requests>=2.32.4 # not directly required, pinned by Snyk to avoid a vulnerability
